.btn {
  font-family: "Amble Bold";
  font-size: 1.2rem;
  text-decoration: none;
  padding: 1.2rem 4rem;
  transition: 0.2s ease-out;
  cursor: pointer;

  @include medium {
    font-size: 1.6rem;
    padding: 2rem 7rem;
  }


  &--white {
    border: 3px solid #ffffff;
    color: #ffffff;

    &:hover {
      background: #ffffff;
      color: #000000;
    }
  }

  &--black {
    border: 3px solid #000000;
    color: #000000;

    &:hover {
      background: #000000;
      color: #ffffff;
    }
  }

  &--small {
    padding: 0.6rem 3.2rem;

    @include medium {
      font-size: 1.4rem;
      padding: 1.2rem 6rem;
    }
  }
}
