.location {
  background-color: #f2f2f2;
  padding-top: 100px;
  padding-bottom: 100px;

  @include large {
    width: 30%;
    text-align: left;
    padding-left: 5%;
  }

  &__title {
    margin-bottom: 2rem;
  }

  &__description {
    font-family: "Amble Light";
    font-style: italic;
  }

}
