.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    @include medium {
        flex-direction: row;
        justify-content: space-between;
    }
}

.team__employee {
    position: relative;
    // width: 40%;
    // flex: 40% 1 auto;
    // flex: 1;
    margin-bottom: 30px;
    // border: 3px solid #000000;

    @include medium {
        width: 45%;
        margin-bottom: 45px;
    }

    @include large {
        width: 23%;
        margin-bottom: 0;
    }

    img {
        display: block;
    }
}

.team__employee--hire {
    display: block;
    border: 3px solid #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // padding-top: 10px;
    // box-sizing: border-box;
    position: relative;
    z-index: 10;

    img {
        visibility: hidden;
    }

    h4 {
        font-size: 1.7rem;

        &:after {
            content: "";
            display: block;
            width: 30%;
            height: 3px;
            margin: 40px auto 20px;
            background-color: #000000;

            @include medium {
                margin-top: 30px;
            }

            @include large {
                margin-top: 20px;
            }
        }

        @include medium {
            font-size: 2.2rem;
        }

        @include large {
            font-size: 1.4rem;
            line-height: 1.6;
            margin-top: 0;
        }
    }

    a {
        display: inline-block;
        // width: 60%;
        // margin: 0 auto;
        padding: 1rem 3rem;
        font-family: "Amble Regular";
        font-size: 1.2rem;
        color: #000000;
        text-align: center;
        border: 3px solid #000000;

        &:hover {
            background-color: #000000;
            color: #ffffff;
        }

        @include large {
            font-size: 1.1rem;
            padding: 0.5rem 2rem;
        }
    }
}

.team__employee-overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.8;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
}

.team__employee:hover .team__employee-overlay {
    bottom: 0;
    height: 100%;
}

.team__employee-overlay-title {
    font-family: "BigJohn Regular";
    font-size: 1rem;
    color: #ffffff;
    margin-top: 0;

    &:after {
        content: "";
        display: block;
        width: 40%;
        height: 1px;
        background-color: #ffffff;
        margin: 1rem auto 0;
    }
}

.team__employee-overlay-subtitle {
    font-family: "Amble Light";
    font-size: 0.9rem;
    color: #ffffff;
}

.team__employee-overlay-text-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.team__employee--hire-text-container {
    position: absolute;
    // text-align: center;
    // margin: 0 auto;
    // bottom: 0;
    // left: 50%;
    // transform: translate(-50%, -50%);
}
